/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
    background-color: rgb(19 19 19);
}

body::-webkit-scrollbar{
     display: none;
}
/******************************************
/* Name
/*******************************************/

.name h1{
     font-family: Helvetica, sans-serif;
     font-size: 56px;
     font-weight: 300;
     color: white;
}

.name h1 + h1{
     background: -webkit-linear-gradient(180deg, rgb(191, 64, 191), rgb(255, 102, 0));
     -webkit-background-clip: text;
     background-clip: text;
     -webkit-text-fill-color: transparent;
     /* color: rgb(255, 102, 0); */
     text-decoration: underline;
     font-size: 56px;
     font-weight: 500;
}

.name{
     display: flex;
     flex-direction: column;
     justify-content: center;
}
/******************************************
/* NAV
/*******************************************/

.horizontalNav {
     position: fixed;
     width: 100%;
     display: flex;
     justify-content: flex-end;
}
.horizontalNav ul{
     display: flex;
     flex-flow: row nowrap;
     justify-content: flex-end;
     align-items: center;
     list-style-type: none;
     margin: none;
}

.horizontalNav li a{
     padding: 8px 16px;
     color: rgb(255, 102, 0);
     display: inline-block;
     font-family: Helvetica, sans-serif;
     font-weight: 300;
     font-size: 24px;
     text-decoration: none;
     margin: 8px;
     border-radius: 4px;
}

.horizontalNav li a:hover{
     background-color: rgb(100, 100, 100);
     color: white;
}


/******************************************
/* HOME
/*******************************************/

.container {
     padding: 32px 10%;
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
     align-items: flex-start;
     height: 100vh;
}

/******************************************
/* ABOUT ME
/*******************************************/

.aboutMe {
     display: flex;
     flex-flow: column wrap;
     justify-content: flex-start;
     align-items: flex-start;
     width: 50%;
}

.aboutMe h2{
     font-family: Helvetica, sans-serif;
     font-weight: 300;
     font-size: 48px;
     color: rgb(255, 102, 0);
}

.aboutMe p{
     font-family: Helvetica, sans-serif;
     font-weight: 300;
     font-size: 24px;
     color: rgb(100 100 100)
}

.aboutMe strong{
     text-decoration: underline;
     font-weight: 400;
}

.aboutMe ul{
     list-style-type: none;
     padding-left: 0px;
}

.aboutMe li{
     display: inline-block;
     color: white;
     font-family: Helvetica, sans-serif;
     font-weight: 300;
     font-size: 24px;
     padding: 8px;
}

.aboutMe img{
     width: 50%;
     height: auto;
     align-self: center;
     justify-self: center;
     overflow: hidden;
     border-radius: 8px;
     box-shadow: 4px 4px rgba(255, 255, 255, 0.8);
}
/******************************************
/* SKILLS
/*******************************************/

.skills li{
     border-radius: 8px;
     background-color: rgb(49 49 49);
     margin-right: 4px;
     padding: 16px;
     font-variant: small-caps;
}

/******************************************
/*  SOCIALS
/*******************************************/
.socials{
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
}

.socials ul{
     display: flex;
     flex-flow: row nowrap;
     width: 50%;
     list-style-type: none;
     padding: 0;
}

.socials li a{
     display: inline-block;
     border-radius: 30px;
     border: 2px solid rgb(100, 100, 100);
     color: rgb(100, 100, 100);
     font-size: 20px;
     padding: 16px;
     margin-right: 16px;
     font-family: Helvetica, sans-serif;
     font-weight: 400;
     text-decoration: none;
}

.socials li a:hover{
     border: 2px solid rgb(255, 102, 0);
     color: rgb(255, 102, 0);
}

.socials li:last-of-type a{
     border: 2px solid white;
     color: white;
}

.socials li:last-of-type a:hover{
     border: 2px solid rgb(255, 102, 0);
     color: rgb(255, 102, 0);
}

/******************************************
/*  Media Rules
/*******************************************/

@media all and (max-width: 400px){
     .container{
          flex-flow: column nowrap;
          width: 100%;
          padding: 2% 10%;
     }

     .socials ul{
          flex-flow: row wrap;
          width: 100%;
     }

     .socials {
          width: 100%;
     }

     .aboutMe{
          width: 100%;
     }

     .aboutMe img{
          width: 80%;
          height: auto;
          margin-top: 16px;
          align-self: flex-start;
     }

     .socials a{
          margin: 8px;
          min-width: 50%;
     }
}